/// VARIÁVEIS

/// tipografia
$body-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$header-font: '';

/// medidas
$base-line-height: 1;
$base-font-size: 16px;
$content-font-size: 1em;

/// wrapper e tamanhos
$min-width:320px;
$wrap-width:1140px;
$wrap-percentage: 100%;

/// cores para mídias sociais
$sm-colors: (
  "facebook": #3b5998,
  "youtube": #bb0000,
  "instagram": #517fa4,
  "google+": #dd4b39,+
  "linkedin": #007bb5,
  "twitter": #00aced,
  "watsapp": #4dc247,
  "pinterest": #cb2027,
  "snapchat": #fffc00,
  "dropbox": #007ee5,
  "tumblr": #32506d,
  "vimeo": #aad450,
  "foursquare": #0072b1
);

/// paths
$images: "../images/";
